.App {
  position: fixed;
  background-color: yellow;
}

.title, .subTitle {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  word-spacing: 30px;
  font-family: 'Overpass Mono', monospace;
}

.inputTitle{
  display: flex;
  align-self: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  font-family: 'Overpass Mono', monospace;

}

.inputText{
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
  font-family: 'Overpass Mono', monospace;

}

#postButton {
  display: flex;
  margin-top: 10px;
  align-items: left;
  margin-left: 10px;
  font-family: 'Overpass Mono', monospace;
}


@media (min-width: 816px) {
.renderedInfo{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: none;
  float: right;
  border: 1px solid black;
  margin-right: 20px;
  margin-bottom: 50px;
  position: relative;
  width: 44%;
  height: 500px;
  display: inline-block;
  overflow: scroll;
  text-decoration: none;
  background-color: white;
  font-family: 'Overpass Mono', monospace;
}
}

@media (min-width: 900px) {
.form{
  margin-bottom: 50px;
  margin-left: 20px;
  border: 1px solid black;
  width: 44%;
  height: 500px;
  display: inline-block;
  background-color: white;

}
}

.btn{
  align-items: flex-end;
  font-family: 'Overpass Mono', monospace;
  float: right;
  margin-right: 10px;
  margin-bottom: 30px;
}

.viewList{
  list-style-type: none
}

input.btn{
  align-items: flex-start;
}

h5{
  font-weight: bold;
}

